@model string

<div class="alert alert-warning mt-3 alert-dismissible dfade show" role="alert">
    @Model
    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
</div>