<Header class="d-flex justify-content-between align-items-lg-center">
    <div>
        <h1 class="text-primary">CRUD<h1>
    </div>
</Header>
<hr>
<h4 class="text-info">Controle de Estoque com Banco de Dados SQLite</h4>

@section Footer{
<footer>
    <a asp-action="Index">Página Principal.</a>
</footer>
}